.about-second-list {
    margin-left: -30px;
}

.about-second {
    padding-bottom: 94px;
}

.about-second-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;


}

.about-second-item {
    margin-left: 30px;
    position: relative;
}