.header-studio-footer {
    color: var(--first-button-color);
    margin-bottom: 20px;
}


.footer-btn {
    margin-left: 10px;
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-field {
    margin-right: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        margin-right: auto;
        align-items: left;
        display: unset;
        flex-direction: unset;

    }
}

.footerf-felx {
    // display: flex;
    margin-bottom: 60px;


    @media screen and (min-width: 768px) {
        display: flex;
        margin-bottom: 60px;
        padding-left: 76px;
        padding-right: 89px;
        justify-content: space-between;

        // margin: 0 auto;
        // align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: unset;
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 93px;



    }

}

.footer-input {
    // width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 10px;
    color: #FFFFFF;
    outline: none;
    width: 100%;
    margin-bottom: 20px;


    @media screen and (min-width: 768px) {
        width: 450px;
    }



    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
        width: 358px
    }

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}



.team-soc-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text-slogan {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;



    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}



.footer-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;


    @media screen and (min-width: 1200px) {
        text-align: left;
    }


}





.footer {
    padding-bottom: 60px;
    padding-top: 60px;

    .container {

        @media screen and (min-width: 768px) {
            // display: flex;
            align-items: baseline;

        }

        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: baseline;

        }
    }
}

.header-logo-footer {
    margin-bottom: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    display: block;
    text-align: center;



    @media screen and (min-width: 1200px) {
        display: unset;


    }

}

.footer-slogan {
    // margin-right: 93px;

    @media screen and (min-width: 768px) {
        // margin: 0 auto;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 0px;


    }

}



.team-soc-list-footer {
    // margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 0px;
        // display: flex;
        // align-items: center;
        // justify-content: center;

    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0px;
        display: flex;


    }
}

.footer-soc-icon {
    fill: #FFFFFF;
}

.footer-content {
    // margin-right: 70px;
    margin-bottom: 60px;


    @media screen and (min-width: 768px) {
        // margin-right: 70px;
        margin-bottom: 0px;

    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;

    }

}

.team-soc-link-footer:hover .team-soc-icon,
.team-soc-link-footer:focus .team-soc-icon {
    fill: #FFFFFF;
}

.team-soc-link-footer:hover,
.team-soc-link-footer:focus {
    background-color: var(--accent-color);

}

.footer-flex {

    @media screen and (min-width: 768px) {
        // display: flex;
        // telegram-down
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}