.team {
    background-color: var(--team-background-color);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-soc-list-footer {
    display: flex;
    justify-content: center;

}

.team-soc-icon {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team-soc-link:hover &,
    .team-soc-link:focus & {
        fill: #FFFFFF;
    }
}

.team-soc-list {
    display: flex;
    justify-content: center;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }

}







.team-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
}



.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;

}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.team-item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    margin-bottom: 16px;

}

.team-list {
    padding-inline-start: 0px;
    margin: 0;

}

.team-item {
    margin-left: 30px;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #c5c5c5;
    border-top: 0;

    &:first-child {
        margin-left: 0;
    }
}


.team-div {
    padding-top: 30px;
    padding-bottom: 30px;
}