.contacts-item {
    margin-bottom: 9px;
}

.contacts-item:last-child {
    margin-bottom: 0px;
}

.contacts-list {
    display: block;
}

.contacts-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--first-button-color)
    }

}

.contacts-link-addres {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-button-color);
    margin-bottom: 9px;

}