.mob-menu {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #FFFFFF;
    z-index: 1;

    // width: 480px;
    // height: 796px;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 40px;
    transition: opacity 250ms, visibility 250ms;


    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;

    }

}

.mob-btn {
    display: block;
    margin-left: auto;
    background: none;
    border-color: transparent;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        fill: #2196F3;
    }

    .mob-btn-close:hover &,
    .mob-btn-close:focus & {
        fill: #2196F3;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: none;

    }


}

.mob-btn-close {
    display: block;
    margin-left: auto;
    margin-bottom: 30px;
    background: none;
    border: transparent;

}

.mob-menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
        color: #2196F3;
    }
}

.mob-menu-item:not(:last-child) {
    padding-bottom: 35px;
}

.mob-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    /* identical to box height */

    letter-spacing: 0.02em;

    color: #2196F3;

}

.mob-contacts {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
}

.mob-info:not(:last-child) {
    margin-bottom: 32px;
}

// .mob-list {
//     // margin-top: 302px;

// }

.mob-soc-list {
    display: flex;
    margin-top: 64px;
    flex-wrap: wrap;

    @media screen and (min-width: 480px) {
        flex-wrap: unset;


    }


}

.mob-soc-item {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: #2196F3;
    position: relative;
}

.mob-soc-item::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    top: 10px;
}



.mob-soc-item:not(:last-child) {
    margin-right: 20px;

}

.container-mob {
    padding-left: 40px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
}

.mob-crnt {
    color: #2196F3;
}