.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    ;
    position: fixed;
    top: 0;
    transition: opacity 250ms, visibility 250ms;

}

.modal {
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal-btn {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: #212121;
}

.modal-icon:focus,
.modal-icon:hover {
    fill: var(--accent-color);
}

.modal-btn:hover .modal-icon {
    fill: var(--accent-color);
}




.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 15px 0 15px 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:focus+.modal-icons {
    fill: var(--accent-color);
}

.moda-text {
    color: var(--second-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;

}

.modal-coment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal-textarea {
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: var(--accent-color);
}

.modal-field-com {
    margin-bottom: 20px;
}

.modal-icons {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
    position: relative;
}

.modal-field {
    margin-bottom: 10px;

}

.check-text {
    padding-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;

}

.check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 8px;
}

.modal-check:checked+.check-text::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../1/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.modal-check:focus+.check-text::before {
    border-color: var(--accent-color);
}

.modal-field-flex {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    ;
}

.modal-doc {
    display: block;
    padding-left: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.modal-btn-sbm {
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1)
}