.nav__item {
    margin-right: 50px;
    box-sizing: border-box;
}

.nav__item:last-child {
    margin-right: 0px;
}

.nav__link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;

}




.nav__list {
    display: flex;
}

.nav__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--header-text-color);
    ;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

    &:focus,
    &:hover {
        color: var(--accent-color)
    }

}